<%- include('partials/header')  %> 

<div class="home-container">
    <%- include('partials/headPresentation') %> 
    <%- include('partials/navSide') %>  
</div>

<%- include ('partials/projectOverview')  %> 

<%- include('partials/footer') %> 